{% extends "base.php" %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/passwords/new" method="post" id="password_form">
            <div class="form-group">
                <label for="i_label">Label</label>
                <input type="text" class="form-control" name="i_label" id="i_label" required>
            </div>
            <div class="form-group">
                <label for="i_login">Login</label>
                <input type="text" class="form-control" name="i_login" id="i_login" required>
            </div>
            <div class="form-group">
                <label for="i_password">Mot de passe</label>
                <input type="password" class="form-control" name="i_password" id="i_password" required>
            </div>
        </form>
        <button class="btn btn-default" onclick="encodePassword()">Ajouter</button>
    </div>
</div>

{% endblock %}